<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FlatUI AngularJS Template</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//designmodo.github.io/Flat-UI/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="//designmodo.github.io/Flat-UI/css/flat-ui.css">
    <!--HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.-->
    <!--[if lt IE 9]-->
    <script src="//designmodo.github.io/Flat-UI/js/html5shiv.js"></script>
    <!--[endif]-->
  </head>
  <body ng-app="flatuiApp">
    <div ng-controller="FlatUICtrl" class="container">
      <div class="row">
        <div class="col-md-2">
        <flatui-checkbox ng-repeat="item in checkbox1.options" model="item.selected" label="item.name" value="item.id" name="valcontainer0"></flatui-checkbox>
        </div>
        <div class="col-md-2">
          <flatui-checkbox ng-repeat="item in checkbox1.options" model="item.selected" label="item.name" value="item.id" name="valcontainer0" disabled=""></flatui-checkbox>
        </div>
        <div class="col-md-2">
          <flatui-radio ng-repeat="item in radio1.options" model="radio1.selected" label="item.name" value="item.id" name="valcontainer1"></flatui-radio>
        </div>
        <div class="col-md-2">
          <flatui-radio ng-repeat="item in radio1.options" model="radio1.selected" label="item.name" value="item.id" name="valcontainer1" disabled=""></flatui-radio>
        </div>
        <div class="col-md-2">
          <flatui-switch model="switch1"></flatui-switch>
        </div>
        <div class="col-md-2">
          <flatui-switch model="switch1" square="" disabled=""></flatui-switch>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="/app.js"></script>
    <script src="/flatui.controllers.js"></script>
    <script src="/flatui.directives.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/jquery-1.8.3.min.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/jquery.ui.touch-punch.min.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/bootstrap.min.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/bootstrap-select.js"></script>
    <!-- These three are replaced -->
    <!-- <script src="//designmodo.github.io/Flat-UI/js/bootstrap-switch.js"></script> -->
    <!-- <script src="//designmodo.github.io/Flat-UI/js/flatui-checkbox.js"></script> -->
    <!-- <script src="//designmodo.github.io/Flat-UI/js/flatui-radio.js"></script> -->
    <script src="//designmodo.github.io/Flat-UI/js/jquery.tagsinput.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/jquery.placeholder.js"></script>
    <script src="//vjs.zencdn.net/4.3/video.js"></script>
    <script src="//designmodo.github.io/Flat-UI/js/application.js"></script>

</body>
</html>